/* index page */
.card-header-wrapper {
  height: 2.5rem;
  padding: 0 5px;
}

.card-footer-wrapper {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0 8px;
}

.new-btn:hover {
  text-decoration: none;
}

.card-footer-wrapper {
transition-duration: 0.3s;
}

.card-footer-wrapper:hover {
background-color: rgb(235, 236, 237);
transition-duration: 0.3s;
}

.todos {
  display: flex;
  align-items: center;
  height: 2.8rem;
  border: 1px solid rgba(200, 200, 200);
  margin: 0.35rem 0;
  padding: 0 1rem;
  cursor: pointer;
}

.item-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.todos-dropdown {
  opacity: 0;
  transition-duration: 0.3s;
}

.header-wrapper-right .fas {
  cursor: pointer;
  padding: 0.3rem 0.35rem;
  transition-duration: 0.3s;
}

.header-wrapper-right .fas:hover {
  border: none;
  background-color: rgb(235, 236, 237);
  transition-duration: 0.3s;
}

.todos-menu-btn {
  border: 1px solid rgba(200, 200, 200);
  padding: 0.01rem 0.3rem;
}

.todos:hover {
  background-color: rgb(235, 236, 237, 0.3);
}

.todos:hover .todos-dropdown {
 opacity: 1;
 transition-duration: 0.3s;
}

.fa-ellipsis-h, .fa-plus, .new-btn, .new-btn:hover, .counter {
  color:  rgba(200, 200, 200);
}

.todo-card .card-title {
  background-color: rgba(252, 170, 170, 0.747);
}

.done-card .card-title {
  background-color: rgba(122, 218, 171, 0.747);
}

.trash-card .card-title {
  background-color: rgba(219, 219, 219, 0.747);
}

.card-title, .counter {
  font-size: small;
  padding: 0.2rem 0.7rem;
}

/* index page */

/* login page */
.login-input-group {
  margin: 3rem 0;
  padding: 0 1.5rem;
}

.login-input-group input {
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
  border-radius: 0;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

.login-input-group input:focus {
  box-shadow: none;
  border-bottom: 2px solid #ff626f;
}

input:focus + .label {
  color: #ff626f;
  font-size: x-small;
  font-weight: bolder;
  transition-duration: 0.3s;
}

input + .label {
  transition-duration: 0.3s;
}

#label-login-email {
  position: absolute;
  top: 34%;
  left: 14%;
}

#label-login-pd {
  position: absolute;
  top: 49.5%;
  left: 14%;
}

#label-reg-name {
  position: absolute;
  top: 26%;
  left: 14%;
}

#label-reg-email {
  position: absolute;
  top: 37.5%;
  left: 14%;
}

#label-reg-pd {
  position: absolute;
  top: 49.5%;
  left: 14%;
}

#label-reg-cpd {
  position: absolute;
  top: 61%;
  left: 14%;
}

.login-btn {
  background: #dc3543;
  color: #ffffff;
}

.login-btn:hover {
  background: #ff626f;
  color: #ffffff;
}

.fb-login-btn {
  background: #1877f2;
  color: #ffffff;
}

.fb-login-btn:hover {
  background: #4f8ee0;
  color: #ffffff;
}
/* login page */